:host {
  display: block;
}

.gridZone {
  padding: 5px;
  background-color: var(--matrix-grid-zone-background-color);
  height: 100%;
  border-radius:10px;
  z-index: 10;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc((100vw  - 100px - var(--sidemenu-width))/2);
  height: calc((100vh - 100px - var(--header-height) - var(--tab-matrix-height) - var(--footer-height)) / 2);
  overflow-x: scroll;
}

.showHighlight {
  background-color: green;
}
