:host {
  display: block;
}

.gridZone {
  padding: 5px;
  background-color: var(--matrix-grid-zone-background-color);
  height: 100%;
  /* padding:20px; */
  border-radius:10px;
  /* color:#fff; */
  z-index: 10;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items:center;
  justify-content:center;
  font-size:40px; */
  /* max-width: 700px;
  max-height: 300px; */
}

.showHighlight {
  background-color: green;
}
