:host {
  display: block;
  
}

.taskList {
  padding: 10px;
  background-color: var(--task-list-background-color);
  min-height: 400px;
  font-weight: normal;
  border: solid 1px black;
}

.showHighlight {
  background-color: green;
}